@import "node_modules/@bbva-web-components/bbva-foundations-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  --bg-color: #fff;
  --border-container: #e1e1e1;
  --border-bottom-item: #e1e1e1;
  --color-item: #121212;
  --color-item-hover: #000;
  --border-bottom-item-hover: #e1e1e1;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.content-menu {
  display: none;
  position: absolute;
  z-index: 200;
  min-width: 150px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--border-container);
  background-color: var(--bg-color);
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    list-style: none;
    li {
      width: 100%;
      padding: 10px 15px;
      cursor: pointer;
      color: var(--color-item);
      border-bottom: 1px solid var(--border-bottom-item);
      transition: all 0.2s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      cells-icon {
        position: relative;
        top: 0;
        width: 18px;
        margin-right: 8px;
      }
    }

    li:hover {
      background-color: var(--bgcolor-item-hover, #f4f4f4);
      color: var(--color-item-hover);
      border-bottom: 1px solid var(--border-bottom-item-hover);
    }

  }
}

.content-menu.show {
  display: block;
}

